/* fonts */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight.eot");
    src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* styles */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	width: 985px;
	min-width: 985px;
}
.transition {
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}
body {
	font-family: "GothamProRegular";
}


/* top menu*/
.top-menu {
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0, .3);
	min-width: 985px;
}
.logo-area {
	width: 259px;
	height: 96px;
	margin-top: 30px;
	position: relative;
	float: left;
}
.logo-area img {
	width: 259px;
	height: 66px;
	display: inline;
}
.nav-menu {
	height: 126px;
	float: right;
}
.nav-menu ul {
	height: 126px;
	padding: 0;
	margin: 45px 0 0;
}
.nav-menu ul li {
	display: inline-block;
	margin-left: 24px;
	height: 36px;
	line-height: 36px;
	position: relative;
	-moz-transition: .1s;
	-webkit-transition: .1s;
	-o-transition: .1s;
	-ms-transition: .1s;
	transition: .1s;
}
.nav-menu ul li:first-child {
	margin-left: 0;
}
.nav-menu ul li a {
	color: #232323;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "GothamProRegular";
}
.nav-menu ul li:last-child a {
	color: #86b817;
}
.nav-menu ul li:hover {
	border-bottom: 2px solid #1789b8;
}
.nav-menu ul li:hover:after {
	content: url("../img/menu_tri.png");
	position: absolute;
	top: 18px;
	left: 49%;
}
.nav-menu ul li:hover a {
	color: #1789b8;
}


/* carousel */
.carousel, .carousel-inner, .item {
	min-width: 985px;
	height: 646px;
}
.item {
	background-size: cover;
	height: 646px !important;
	max-width: none !important;
}
.slider-text {
	width: 985px;
	height: 528px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: #ffffff;
	background: rgba(255,255,255, .7);
	padding-top: 75px;
}
.slider-text-1, .slider-text-2, .slider-text-3 {
	text-transform: uppercase;
	font-family: "GothamProBold";
	text-align: center;
	line-height: 75px;
}
.slider-text-1, .slider-text-3 {
	color: #6fa100;
}
.slider-text-1 {
	font-size: 52px;
}
.slider-text-2 {
	font-size: 35px;
	color: #3c3c3c;
}
.slider-text-3 {
	font-size: 50px;
}
.slider-text-4 {
	text-align: center;
	color: #3c3c3c;
	line-height: 47px;
	font-size: 30px;
	font-family: "GothamProRegular";
	text-transform: uppercase;
	padding: 65px;
}


/* wait-for-you */

.wait-for-you {
	background: #e3f7f8;
	min-width: 985px;
}
.wait-for-you-area {
	width: 985px;
	height: 886px;
}
.wait-for-you-area h2 {
	color: #676767;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 31px;
	margin-bottom: 30px;
}
.wait-for-you-item {
	width: 221px;
	float: left;
	margin-right: 33px;
	margin-top: 19px;
}
.wait-for-you-item.four {
	margin-right: 0px;
}
.wait-for-you-item img {
	width: 221px;
	height: 190px;
}
.wait-for-you-item p {
	color: #333333;
	font-size: 14px;
	line-height: 25px;
	font-family: "GothamProBold";
	text-transform: uppercase;
	text-align: center;
	margin-top: 24px;
}
.wait-for-you-area h3 {
	color: #333333;
	font-size: 20px;
	font-family: "GothamProRegular";
	text-transform: uppercase;
	text-align: center;
	margin-top: 28px;
	margin-bottom: 3px;
}
.wait-for-you-area > p {
	color: #333333;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}



/* contact 1 */
.contact-form-1 {
	background: url("../img/contact-1-bg.jpg") top center no-repeat;
	background-size: cover;
	min-width: 985px;
}
.contact-first {
	height: 282px;
}
.contact-first h2 {
	color: #0f2749;
	font-size: 28px;
	font-family: "GothamProRegular";
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 41px;
	text-align: center;
	margin-bottom: 37px;
}
.contact-first input {
	width: 291px;
	height: 42px;
	border-radius: 4px;
	border: 1px solid #1789b8;
	padding: 0 16px;
}
.input-left {
	margin-right: 30px;
}
.input-left.first {
	margin-left: 25px;
}
.input-left.last {
	margin-right: 0px;
}
.contact-first button {
	width: 309px;
	height: 60px;
	color: #ffffff;
	font-size: 25px;
	font-family: "GothamProBold";
	text-transform: uppercase;
	border: 1px solid #1796b8;
	background: url("../img/contact-button.jpg") repeat-x;
	border-radius: 4px;
}
.contact-first button:hover {
	background: url("../img/contact-button-b.jpg") repeat-x;
}
.contact-first span {
	width: 985px;
	height: 60px;
	display: block;
	text-align: center;
	margin-top: 37px; 
}
.before-after {
	background: #e3f7f8;
	min-width: 985px;
}
.before-after-area {
	height: 473px;
	padding-top: 59px;
}
.before-after-area img:first-child {
	float: left;
}
.before-after-area img:last-child {
	float: right;
}


/* program */
.program {
	min-width: 985px;
	background: url("../img/program-bg.jpg") top center no-repeat;
	background-size: cover;
}
.program-area {
	height: 714px;
}
.program-area-list {
	margin-top: 44px;
}
.program-area h2, .contact-form-second-area h2 {
	color: #ffffff;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 48px;
	margin-bottom: 30px;
	margin-top: 0px;
}
.program-item {
	width: 221px;
	height: 240px;
	position: relative;
	float: left;
	margin-right: 33px;
	margin-bottom: 33px;
}
.program-text {
	width: 221px;
	height: 79px;
	background: #ffffff;
	background: rgba(255,255,255, .9);
	position: absolute;
	bottom: 0;
	font-size: 14px;
	color: #3c3c3c;
	font-family: "GothamProBold";
	text-transform: uppercase;
	text-align: center;
	line-height: 25px;
	padding-top: 17px;
}
.program-item.four {
	margin-right: 0px;
}
.program-text-3 {
	line-height: 22px;
	padding-top: 8px;
}
.secret-of-yourself, .all-include {
	background: #e3f7f8;
	min-width: 985px;
}
.secret-of-yourself-area {
	height: 1100px;
}
.secret-of-yourself-area h2, .all-include h2 {
	color: #676767;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 31px;
	margin-bottom: 6px;
}
.secret-of-yourself-subtitle {
	color: #676767;
	font-size: 30px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 0px;
	margin-bottom: 30px;
}
.secret-container {
	margin-top: 49px;
	margin-bottom: 11px;
}
.secret-container img {
	width: 182px;
	height: 132px;
	float: left;
	margin-right: 43px;
}
.secret-title {
	width: 410px;
	float: left;
	font-size: 18px;
	color: #676767;
	text-transform: uppercase;
	font-family: "GothamProBold";
}
.secret-container ul {
	width: 410px;
	list-style: none;
	float: left;
	padding: 0;
	margin-top: 24px;
}
.secret-container .second-ul {
	width: 345px;
}
.result-item-r {
	text-align: center;
	margin-top: 40px;
	width: 25%;
	float: left;
}
.result-item-r img {
	margin-bottom: 30px;
}
.result-title {
	color: #1789b8;
	font-size: 20px;
	font-family: "GothamProBold";
	text-transform: uppercase;
}
.result-subtitle {
	color: #1789b8;
	font-size: 12px;
	font-family: "GothamProBold";
	text-transform: uppercase;
}
.autors {
	height: 655px;
}
.autors h2 {
	color: #676767;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 51px;
	margin-bottom: 6px;
	margin-top: 0px;
}
.autors-item {
	width: 267px;
	text-align: center;
	float: left;
	position: relative;
	margin-right: 90px;
	margin-top: 51px;
}
.autors-item.last {
	margin-right: 0px;
}
.autor-name {
	color: #676767;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "GothamProBold";
	width: 267px;
	padding-top: 37px;
	line-height: 27px;
	margin-bottom: 18px;
}
.autor-title {
	color: #676767;
	font-size: 14px;
	line-height: 22px;
	width: 267px;
}
.super-guest {
	position: absolute;
	left: 0;
	top: 253px;
}
.all-include-area {
	height: 443px;
}
.all-include-area ul {
	padding: 30px 0 0 100px;
	margin: 0;
	width: 850px;
	margin: 0 auto;
}
.all-include-area ul li {
	width: 370px;
	font-size: 16px;
	color: #676767;
	line-height: 35px;
	height: 35px;
	display: inline-block;
	padding-left: 35px;
	position: relative;
}
.all-include-area ul li:before {
	content: url("../img/done.png");
	position: absolute;
	left: -5px;
	top: 2px;
}
.make-choice {
	background: url("../img/choice-bg.jpg") top center no-repeat;
	background-size: cover;
	min-width: 985px;
}
.make-choice-area {
	height: 548px;
}
.make-choice h2 {
	color: #ffffff;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 51px;
	margin-bottom: 6px;
	margin-top: 0px;
}
.area-subtitle {
	font-size: 35px;
	line-height: 40px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0px;
	margin-bottom: 6px;
	margin-top: 0px;
}
.make-choice-block {
	width: 521px;
	height: 328px;
	border: 3px solid #1b7c93;
	background: #ffffff;
	background: rgba(255,255,255, .85);
	margin: 30px auto 0;
	text-align: center;
}
.choice-price {
	font-size: 25px;
	color: #1789b8;
	font-family: "GothamProBold";
	text-transform: uppercase;
	padding-top: 26px;
}
.make-payment {
	font-size: 16px;
	color: #676767;
	font-family: "GothamProBold";
	text-transform: uppercase;
	padding-top: 28px;
}
.win-present {
	font-size: 23px;
	color: #86b817;
	font-family: "GothamProMedium";
	text-transform: uppercase;
	padding-top: 0px;
}
.go-with-friend {
	font-size: 16px;
	color: #676767;
	font-family: "GothamProBold";
	text-transform: uppercase;
	padding-top: 31px;
}
.make-choice-block a {
	width: 309px;
	height: 60px;
	display: block;
	line-height: 60px;
	font-family: "GothamProBold";
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #69b7c9;
	border-radius: 5px;
	text-align: center;
	background: url("../img/contact-button.jpg") repeat-x;
	margin: 35px auto 0;
}
.make-choice-block a:hover {
	background: url("../img/contact-button-b.jpg") repeat-x;
}
.contact-form-second {
	background: url("../img/contact-2-bg.jpg") top center no-repeat;
	background-size: cover;
	min-width: 985px;
}
.contact-form-second-area {
	height: 351px;
}
.contact-form-second-area input {
	width: 291px;
	height: 42px;
	border-radius: 4px;
	border: 1px solid #1789b8;
	padding: 0 16px;
}
.input-left {
	margin-right: 30px;
}
.input-left.first {
	margin-left: 25px;
}
.input-left.last {
	margin-right: 0px;
}
.contact-form-second-area button {
	width: 309px;
	height: 60px;
	color: #ffffff;
	font-size: 25px;
	font-family: "GothamProBold";
	text-transform: uppercase;
	border: 1px solid #1796b8;
	background: url("../img/contact-button.jpg") repeat-x;
	border-radius: 4px;
}
.contact-form-second-area button:hover {
	background: url("../img/contact-button-b.jpg") repeat-x;
}
.contact-form-second-area span {
	width: 985px;
	height: 60px;
	display: block;
	text-align: center;
	margin-top: 37px; 
}
.contact-form-second-area h2 {
	font-size: 42px;
	margin-bottom: 7px;
	padding-top: 39px;
}
.contact-subtitle {
	color: #ffffff;
	font-size: 30px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 0px;
	margin-bottom: 45px;
	margin-top: 0px;
}
.our-partners-area {
	height: 363px;
}
.our-partners-area h2 {
	color: #676767;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 58px;
	margin-bottom: 30px;
	margin-top: 0px;
}
.four-partners {
	width: 25%;
	text-align: center;
	float: left;
	height: 100px;
	line-height: 100px; 
	margin-top: 3px;
}
.footer {
	background: #f0f0f0;
	width: 100%;
	min-width: 985px;
	position: fixed;
	bottom: 0px;
	box-shadow: -1px 0 3px rgba(0,0,0, .2);
}
.footer-area {
	height: 71px;

}
.footer-mail {
	height: 71px;
	line-height: 71px;
	float: left;
	color: #86b817;
	font-size: 21px;
	font-family: "GothamProBold";
	margin-right: 40px;
}
.footer-phone {
	height: 71px;
	line-height: 71px;
	float: left;
	color: #1789b8;
	font-size: 21px;
	font-family: "GothamProBold";
	margin-right: 40px;
}
.footer-call-me {
	width: 192px;
	height: 38px;
	display: block;
	float: left;
	border: 1px solid #1753b8;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	color: #1753b8;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	background: #f0f0f0;
	margin-top: 18px;
	text-decoration: none !important;
}
.footer-call-me:hover {
	opacity: .8;
}
.reviews {
	background: #e3f7f8;
	min-width: 985px;
}
.reviews-area {
	height: 1196px;
}
.reviews h2 {
	color: #676767;
	font-size: 45px;
	font-family: "GothamProLight";
	text-align: center;
	text-transform: uppercase;
	padding-top: 37px;
	margin-bottom: 6px;
}
.percent-reviews {
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 56px;
}
.percent-stat {
	font-size: 35px;
	color: #1789b8;
	font-family: "GothamProBold";
}
.percent-stat span {
	font-size: 16px;
}
.reviews-under-stat {
	font-size: 16px;
	color: #676767;
	font-family: "GothamProBold";
	text-transform: uppercase;
	line-height: 22px;
	margin-top: 6px;
}